body {
  background: white;
  background: radial-gradient(
    circle,
    rgba(95, 159, 203, 1) 50%,
    rgba(89, 170, 75, 1) 84%
  );
  font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
    width: 80%;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.informação {
    margin-top: 20px;
    text-align: left;
}

.informação p {
    margin: 5px 0;
}

.todasfichas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ficha {
    width: 30%;
    padding: 10px;
    background-color: #7de8dc;
    border: 3px solid #000000;
}

.ficha h3 {
    font-size: 22px;
    font-weight: bold;
}

.ficha h5 {
    font-size: 20px;
}

.ficha p {
    font-size: 16px;
    margin: 5px 0;
}

nav img {
  height: 40px;
}

nav div.login{
    padding: 25px;
}

nav div.login ul{
    list-style-type: none;
}

nav div.login li{
    display: inline;
    margin-left: 20px;
}
nav div.login a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

nav div.login a:hover{
    color: white;
    background-color: lightgray;
}

nav div.icon{
    font-size: 60px;
}

nav .menu-right {
  display: flex;
  align-items: center; 
}

nav .menu-right .login {
  margin-right: 10px;
}

nav .menu-right .icon {
  flex: 1; 
  text-align: right; 
}


h1 {
  color: #333;
}

p {
  color: #666;
}

h3{
  text-align: center;
}

.chart-container {
  text-align: center; 
}

.chart-title {
  margin-bottom: 20px; 
}
button{
  background-color: #0D6EFD;
  border-color: #0D6EFD;
  border-radius: 5px;
  color: white;
  padding: 6px 12px;
}
#myPieChart {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}