* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(95, 159, 203);
  background: radial-gradient(
    circle,
    rgba(95, 159, 203, 1) 50%,
    rgba(89, 170, 75, 1) 84%
  );
  font-family: Arial, sans-serif;
  line-height: 1.0; /* Reduzindo o espaço entre as linhas */
}

header {
  text-align: center; /* Centraliza o cabeçalho */
  margin-bottom: 20px; /* Adicionando um espaço abaixo do cabeçalho */
}

nav img {
  height: 40px;
}

nav div.login {
  padding: 25px;
}

nav div.login ul {
  list-style-type: none;
}

nav div.login li {
  display: inline;
  margin-left: 20px;
}

nav div.login a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

nav div.login a:hover {
  color: white;
  background-color: lightgray;
}

nav div.icon {
  font-size: 60px;
}

nav .menu-right {
  display: flex;
  align-items: center;
}

nav .menu-right .login {
  margin-right: 10px;
}

nav .menu-right .icon {
  flex: 1;
  text-align: right;
}

h1 {
  color: #333;
  text-align: center; /* Centraliza o cabeçalho */
  margin-bottom: 20px; /* Adiciona espaço abaixo do cabeçalho */
}

p {
  color: #666;
  text-align: center; /* Centraliza os parágrafos */
}

h3 {
  text-align: center;
  margin-bottom: 20px; /* Adiciona espaço abaixo dos subtítulos */
}

h2 {
  text-align: center;
  margin-bottom: 20px; /* Adiciona espaço abaixo dos subtítulos */
}

.chart-container {
  text-align: center;
}

.chart-title {
  margin-bottom: 20px;
}

button {
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 5px;
  color: white;
  padding: 2px 25px;
}

#myPieChart {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#tipForm, #comments {
  width: 60%; /* Defina a largura desejada para os elementos */
  margin: 0 auto; /* Margens automáticas para centralizar horizontalmente */
  text-align: center; /* Centraliza o conteúdo dos formulários e comentários */
}